  /*MAIN DIV STYLE */

section#main {
  float:left;
  width:65%;
  margin-left:5%;

  position:relative; //covers up part of the image
  bottom:70px;
}


section#main article {
    background-color:$color-main;
    padding-bottom:5%;
    margin-bottom:15px;
    padding-bottom:50px;
    padding-top:50px;
}

article p, h2, h5{
  margin-left:50px;
  margin-right:50px;
}

section#main article h2 {
  font-size:40px;
  font-weight: bold;
}

p.date {
  font-style: italic;
  font-size:12px;

}


section#main article:last-child{
    margin-bottom:0px;
}

/**/
