/*MAIN DIV STYLE */

section#main {
  float:left;
  width:78%;
}

section#main img {
    width:100%;
}

section#main article {
    background-color:$color-main;
    padding-top:5%;
    padding-bottom:5%;
    margin-bottom:15px;
}

section#main article h2 {
  font-size:20px;
}

p.date {
  font-style: italic;
  font-size:12px;
  margin-bottom:3%;
}

section#main article img {
  width:100%;
  padding-top:3%;
  padding-bottom:3%;
}

.center {
  width:560px;
  margin-left:auto;
  margin-right:auto;
}

section#main article:last-child{
    margin-bottom:0px;
}

/**/
