/* MENU STYLE */

ul.menu {
  overflow: hidden; /* what is this */
  background-color:$color-menu;
  margin-bottom:5px;
  -webkit-box-shadow: 0.2px 0px 2px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0.2px 0px 2px 0px rgba(0,0,0,0.75);
box-shadow: 0.2px 0px 2px 0px rgba(0,0,0,0.75);

}

ul.menu li{
  display:block;
  font-size:15px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

ul.menu a {
  text-decoration:none;
}

ul.menu > li a {

  /* makes links stack correctly */
  display:block;
  float: left;

  /* makes links look good */
  padding:15px 20px;

  color: white;
  background-color: $color-menu;
}

div.separation {
  width:300px;
}
/* sets the background color to blue for specific links */

ul.menu a:hover, a#active {
  background-color:$color-hover;
  color:black;
}


// RESPONSIVE CODE

//hides the menu trigger by default
span.menu-trigger {
    display:none;
}

@media screen and (max-width:720px) {


    // MENU STYLES

    ul.menu li a {
    float:none;
    border-bottom:1px solid $color-main;
  }

    ul.menu li:last-child a {
    border-bottom:none;
  }

    // MENU TRIGGER STYLES
   span.menu-trigger {
    display:block;
    color:white;
    background-color: $color-hover;
    padding: 10px;
    text-align: right;
    cursor: pointer;
    }

    /*Hides the menu, except when its class is .nav-expanded*/

    ul.menu {
      display: none;
    }

    ul.nav-expanded {
      display: block;
    }
}
