/* MENU STYLE */

ul.menu {
  overflow: hidden; /* what is this */
  background-color:$color-menu;
  margin-bottom:5px;
}

ul.menu li{
  display:inline;
  font-size:15px;
}

ul.menu li a {

  /* makes links stack correctly */
  display:block;
  float: left;

  /* makes links look sexy */
  padding-top:12px;
  padding-bottom:12px;
  padding-left:20px;
  padding-right:20px;

  font-weight: bold;
  color: #FFFFFF;
  background-color: $color-menu;
  text-decoration: none;
  text-transform: uppercase;
}

/* sets the background color to blue for specific links */

ul.menu a:hover, a#active {
  background-color:$color-hover;
  color:black;
}


// RESPONSIVENESS

//hides the menu trigger by default
span.menu-trigger {
    display:none;
}

@media screen and (max-width:720px) {


    // MENU STYLES

    ul.menu li a {
    float:none;
    border-bottom:1px solid $color-main;
  }

    ul.menu li:last-child a {
    border-bottom:none;
  }

    // MENU TRIGGER STYLES
   span.menu-trigger {
    display:block;
    color:white;
    background-color: $color-hover;
    padding: 10px;
    text-align: right;
    cursor: pointer;
    }

    /*Hides the menu, except when its class is .nav-expanded*/

    ul.menu {
      display: none;
    }

    ul.nav-expanded {
      display: block;
    }
}
