
// SIDEBAR STYLE
aside {
  float:right;
  width:24%;
  min-width:100px;
  margin:3%;

}

div.contact img {
  width:28%;
  min-width:12px;
  max-width:30px;
  height:auto;
  margin:3px;
}

aside h3 {
  color:$color-main;
  font-weight:700;
  font-size:100%;
  margin-bottom:10px;
}

div.contact {
  height:auto;
  background-color:$color-menu;
  padding:15px;
  margin:0 auto;

  -webkit-box-shadow: 0.2px 0px 2px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0.2px 0px 2px 0px rgba(0,0,0,0.75);
box-shadow: 0.2px 0px 2px 0px rgba(0,0,0,0.75);

}

a.sidebar-link {
  display:block;
  width:auto;
  height:auto;
  margin-top:10px;
  background:$color-main;

box-shadow: 0.2px 0px 0px 0px rgba(0,0,0,0.75);

}

a.sidebar-link:nth-child(2){
  margin-top:0px;
}
div.exercises {

  margin-top:5px;

}



.sidebar-link img {
  width:100%;
  height:auto;
}

.sidebar-link h3 {
  font-size: 18px;
  padding:15px;
  color:$color-menu;
}

aside a {
  text-align:center;
  text-decoration: none;
  color:black;
}

aside .sidebar-link:hover {
  background-color:$color-hover2;
}

aside .sidebar-link img:hover {
 opacity: 50%;
}
