
// CONTACT STYLE 

div.contact img {
  width:18%;
  min-width:12px;
  max-width:25px;
  height:auto;
  margin:3px;
}

div.contact h3 {
  color:$color-main;
  font-weight:700;
  font-size:90%;
  margin-bottom:10px;
}

div.contact {
  height:auto;
  background-color:$color-menu;
  padding:15px;
  margin:0 auto;
}

aside {
  float:right;
  max-width:20%;
}

.sidebar-link {
  font-size: 12px;
  display:block;

  width:auto;
  height:auto;
  margin-top:10px;
  padding:10px;

  background-color:$color-main;
}

aside a {
  text-align:center;
  text-decoration: none;
  color:black;
}

aside a.sidebar-link:hover {
  background-color:$color-hover2;
}

aside img {
  height:100px;
}
