* {
  margin:0px;
  padding:0px;
}

/* Setting Color Vars */



body {
    
    font-family: "Open Sans";
    background-color:grey; /*color-dark-bg */
    
    max-width:1220px;
    margin : 0 auto;
}
   

    /* General Text Formatting */

h1 {
  font-family: Open Sans;
  font-size: 36px;
  
  font-weight: 500;
}

h2 {
  font-family: Open Sans;
  font-size: 24px;
 
  font-weight: 900;
  line-height: 15.4px;
}

h3 {
  font-family: Open Sans;
  font-size: 14px;

  font-weight: 700;
  line-height: 15.4px;
}

p {
  font-family: Open Sans;
  font-size: 15px;
 
  font-weight: 400;
  line-height: 20px;
}


    /*HEADER STYLE */

header {
  color:white;
  height:100px;
}

header h1 {
  padding:20px;
}

/* MENU STYLE */

div.menu {
  list-style-type: none;
  overflow: hidden; /* what is this */
  background-color:#333333;
    margin-bottom:5px;

}

div.menu li{
  display:inline;
}


div.menu li a {
  
  /* makes links stack correctly */
  display:block;
  float: left;
  
  /* makes links look sexy */
  padding-top:12px;
  padding-bottom:12px;
  padding-left:20px;
  padding-right:20px;
  
  font-weight: bold;
  color: #FFFFFF;
  background-color: #333333;
  text-decoration: none;
  text-transform: uppercase;
}

/* sets the background color to blue for specific links */

div.menu a:hover, a#active {
  background-color: #00CBD5;
  color:black;
}

  /* /MENU STYLE */

/*MAIN-CONTAINER STYLE */ 
div.main-container {
    background-color:white;
}

  /* SIDEBAR STYLE */

/*CONTACT STYLE*/

div.contact img {
    width:18%;
    min-width:12px;
    height:auto;
    margin:3px;
}

div.contact h3 {
    color:aliceblue;
    font-weight:700;
    font-size:16px;
    margin-bottom:10px;
}

div.contact {
    height:auto;
    background-color:#333333;
    padding:15px;
    
    margin:0 auto;

    
}

/* /CONTACT STYLE */


aside {
float:right;
max-width:20%;
}

.sidebar-link {
  font-size: 12px;
  display:block;

  
  width:auto;
  height:auto;
  margin-top:10px;
  padding:10px;
 

  background-color: #EFEFEF;
}

aside a {
  text-align:center;
  text-decoration: none;
  color:black;
}

aside a.sidebar-link:hover {
  background-color:#00CBD5; 
}

aside img {
  height:100px;
}



/*MAIN DIV STYLE */

section#main {
  
float:left;
width:78%;

}

section#main img {
    width:100%;
}



    /*Responsive Code */ 
@media screen and (max-width:780px){
    
    /*hides sidebar and menu, and makes #main section take up everything. */

        aside {
                display:none;
            }
        
        section#main {
                width:100%;
            }
    
}

.menu-trigger {
    display:none;

}

@media screen and (max-width:680px) {

    /*Styles the Menu Properly */

        div.menu ul li a {

            float:none;
            border-bottom:1px solid lightgrey;
        }

        div.menu li:last-child a {
            border-bottom:none;
        }

        /* shows the menu trigger */
        .menu-trigger {
            display:block;
            color: #305782;
            background-color: #00CBD5;
            padding: 10px;
            text-align: right;
            font-size: 83%;
            cursor: pointer;
        }

/*Hides the menu by default*/        
        div.menu {
                display: none;
            }
/*displays the div with the nav-expanded class */
        
        div.nav-expanded {
            display: block;
        }

    

}
    
/*FOOTER */
footer {
    background-color:#00CBD5;
    height:30px;
    width:auto;
    float:bottom;
    clear:both;
    color:white;
    padding:10px;
    font-size:16;
}

footer a {
    display:block;
    float:right;
}

footer p {
    display:block;
    float:left;
    font-size:12px;
}

div.ghost-area {
    height:100px;
    color:grey; /*color-dark-bg*/
}

