/* Color Scheme */
$color-main:#FFFFFF;
$color-bg:#424242;
$color-hover:#00CCD6;
$color-menu:#333333;
$color-hover2:#EEEFEF;
$color-wrapper:#DEDEDE;

* {
  margin:0px;
  padding:0px;
}

body {
  font-family: "Open Sans";
  background-color:$color-bg;
  max-width:1220px;
  margin : 0 auto;
}


.main-container {
  background-color:$color-wrapper;
  overflow:auto;
}

.main-container > img {
  width:100%;
  z-index:-1;
}

// Typography
@import "1-tools/_typography.scss";

// Header Style
@import "2-elements/_header.scss";

// Menu Style
@import "2-elements/_menu.scss";

// Sidebar Style
@import "2-elements/_sidebar.scss";

//Main Content Style
@import "2-elements/_maincontent.scss";

//Footer Style
@import "2-elements/_footer.scss";

//RESPONSIVE CODE 1


@media screen and (max-width:720px){

//hides sidebar and makes main section take up everything

  aside {
    display:none;
  }

  section#main {
    width:100%;
    margin-left:0px;
  }

  section#main article {
    padding:50px 5px;
  }

}
