/* Color Scheme */
$color-main:#FFFFFF;
$color-bg:#424242;
$color-hover:#00CCD6;
$color-menu:#333333;
$color-hover2:#EEEFEF;

/*Defaults */

* {
  margin:0px;
  padding:0px;
}

body {
    font-family: "Open Sans";
    background-color:$color-bg;

    max-width:1220px;
    margin : 0 auto;
}



// Import Typography
@import "1-tools/_typography.scss";

// Import Header Sassy CSS
@import "2-elements/_header.scss";



// Import Header CSS
@import "2-elements/_header.scss";

@import "2-elements/_sidebar.scss";

// Import Menu Sassy CSS
@import "2-elements/_menu.scss";

//Import Sidebar Sassy CSS
@import "2-elements/_sidebar.scss";

//Import Main Content Sassy CSS

@import "2-elements/_maincontent.scss";


@media screen and (max-width:720px){

//hides sidebar and makes main section take up everything

  aside {
    display:none;
  }

  section#main {
    width:100%;
  }
}

@import "2-elements/_footer.scss"
