/* Color Scheme */
* {
  margin: 0px;
  padding: 0px; }

body {
  font-family: "Open Sans";
  background-color: #424242;
  max-width: 1220px;
  margin: 0 auto; }

.main-container {
  background-color: #DEDEDE;
  overflow: auto; }

.main-container > img {
  width: 100%;
  z-index: -1; }

/* General Text Formatting */
h1 {
  font-family: Open Sans;
  font-size: 36px;
  font-weight: 500; }

h2 {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 900;
  line-height: 15.4px; }

h3 {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 15.4px; }

p {
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px; }

/* */
header {
  color: white;
  height: 100px; }

header h1 {
  padding-left: 0px;
  padding-top: 20px;
  padding-bottom: 0px; }

/* MENU STYLE */
.menu {
  overflow: hidden;
  /* what is this */
  background-color: #333333;
  margin-bottom: 5px;
  -webkit-box-shadow: 0.2px 0px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0.2px 0px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0.2px 0px 2px 0px rgba(0, 0, 0, 0.75); }

.menu li {
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  list-style-type: none; }

.menu li a {
  color: white;
  text-decoration: none; }

.menu > li a {
  /* makes links stack correctly */
  display: block;
  float: left;
  /* makes links look good */
  padding: 15px 20px;
  background-color: #333333; }

.sub-menu {
  display: none;
  /*hides menu by default */
  width: 200px;
  background-color: #191919;
  position: absolute;
  top: 150px;
  left: 362px;
  box-shadow: 1px 1px 5px 0px rgba(0, 1, 0, 0.75); }

.menu > li:nth-child(4):hover .sub-menu {
  display: block; }

.sub-menu li a {
  float: none;
  display: block;
  width: 100%;
  padding: 10px 5px;
  background-color: #191919; }

/* sets the background color to blue for specific links */
ul.menu a:hover, a#active {
  background-color: #00CCD6;
  color: black; }

span.menu-trigger {
  display: none; }

@media screen and (max-width: 720px) {
  ul.menu li a {
    float: none;
    border-bottom: 1px solid #FFFFFF; }

  ul.menu li:last-child a {
    border-bottom: none; }

  span.menu-trigger {
    display: block;
    color: white;
    background-color: #00CCD6;
    padding: 10px;
    text-align: right;
    cursor: pointer; }

  /*Hides the menu, except when its class is .nav-expanded. Hides sub-menu permanently*/
  ul.menu {
    display: none; }

  .sub-menu {
    display: none; }

  ul.nav-expanded {
    display: block; } }
aside {
  float: right;
  width: 24%;
  min-width: 100px;
  margin: 3%; }

div.contact img {
  width: 28%;
  min-width: 12px;
  max-width: 30px;
  height: auto;
  margin: 3px; }

aside h3 {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 100%;
  margin-bottom: 10px; }

div.contact {
  height: auto;
  background-color: #333333;
  padding: 15px;
  margin: 0 auto;
  -webkit-box-shadow: 0.2px 0px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0.2px 0px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0.2px 0px 2px 0px rgba(0, 0, 0, 0.75); }

a.sidebar-link {
  display: block;
  width: auto;
  height: auto;
  margin-top: 10px;
  background: #FFFFFF;
  box-shadow: 0.2px 0px 0px 0px rgba(0, 0, 0, 0.75); }

a.sidebar-link:nth-child(2) {
  margin-top: 0px; }

div.exercises {
  margin-top: 5px; }

.sidebar-link img {
  width: 100%;
  height: auto; }

.sidebar-link h3 {
  font-size: 18px;
  padding: 15px;
  color: #333333; }

aside a {
  text-align: center;
  text-decoration: none;
  color: black; }

aside .sidebar-link:hover {
  background-color: #EEEFEF; }

aside .sidebar-link img:hover {
  opacity: 50%; }

/*MAIN DIV STYLE */
section#main {
  float: left;
  width: 65%;
  margin-left: 5%;
  position: relative;
  bottom: 70px; }

section#main article {
  background-color: #FFFFFF;
  padding-bottom: 5%;
  margin-bottom: 15px;
  padding-bottom: 50px;
  padding-top: 50px; }

article p, h2, h5 {
  margin-left: 50px;
  margin-right: 50px; }

section#main article h2 {
  font-size: 40px;
  font-weight: bold; }

p.date {
  font-style: italic;
  font-size: 12px; }

section#main article:last-child {
  margin-bottom: 0px; }

/**/
/*FOOTER */
footer {
  background-color: #00CCD6;
  height: 30px;
  width: auto;
  float: bottom;
  clear: both;
  color: white;
  padding: 10px;
  font-size: 16; }

footer a {
  display: block;
  float: right; }

footer p {
  display: block;
  float: left;
  font-size: 12px; }

div.ghost-area {
  height: 100px;
  color: #424242; }

@media screen and (max-width: 720px) {
  aside {
    display: none; }

  section#main {
    width: 100%;
    margin-left: 0px; }

  section#main article {
    padding: 50px 5px; } }

/*# sourceMappingURL=main.css.map */
