#div1{
background-color:black; 
color:white; 
text-align:center; 
padding:5px; 
width: 70%
}

#div2 {
line-height:30px; 
background-color:blue;
height:300px; 
width:100px; 
float:left; padding:5px
}

#div3 {
width:350px; 
float:left; 
padding:10px
}

#div4{
background-color:orange; 
color:white; 
clear:both; 
text-align:center; 
padding:5px; 
width: 70%
float:right;
}


a {
color: yellow;
}

#p3 {
color: yellow;
} 

img {
width: 410px; 
height: 300px;
}
