body {
  font-family: "Open Sans", sans-serif;
}

.maths {
 
  background-color: aqua;
  
}

.german {

  background-color: darkseagreen;

}

.geo {

  background-color: darkseagreen;

}


.PE {

  background-color: darkseagreen;

}
.french {

  background-color: #8080FF;

}

.ict {

  background-color: #80F0FF;

}

.chemistry {

  background-color: #80F0FF;

}


.ethics {

  background-color: pink;

}
.geography {

  background-color: #DCF0DF;

}

.eco {

  background-color: palevioletred;

}
.en {

  background-color: #FFFFAD;

}

.biology {
  
  background-color: #D6AD33;
}

.physics {

  background-color: #94B84D;
}

.history {

  background-color: #94B84D;
}


